* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: RobotoCondensed-Bold;
  src: url(font/Roboto_Condensed/RobotoCondensed-Bold.ttf);
}
@font-face {
  font-family: RobotoCondensed-BoldItalic;
  src: url(font/Roboto_Condensed/RobotoCondensed-BoldItalic.ttf);
}
@font-face {
  font-family: RobotoCondensed-Italic;
  src: url(font/Roboto_Condensed/RobotoCondensed-Italic.ttf);
}
@font-face {
  font-family: RobotoCondensed-Light;
  src: url(font/Roboto_Condensed/RobotoCondensed-Light.ttf);
}
@font-face {
  font-family: RobotoCondensed-LightItalic;
  src: url(font/Roboto_Condensed/RobotoCondensed-LightItalic.ttf);
}
@font-face {
  font-family: RobotoCondensed-Regular;
  src: url(font/Roboto_Condensed/RobotoCondensed-Regular.ttf);
}
.menu-larst {
  display: flex;
  align-items: center;
}
.input-first {
  margin-right: 30px;
  position: relative;
}
.search {
  position: absolute;
  top: 7px;
}
.menu-larst input {
  width: 250px;
  height: 30px;
  font-size: 15px;
  padding: 0 20px;
  border: none;
  border-bottom: 1px solid rgb(212, 205, 205);
  outline: none;
}
.menu-larst input::placeholder {
  font-family: RobotoCondensed-Bold;
}
.icon-c {
  margin-right: 50px;
}
.icon-c a {
  padding: 0 10px;
}
.icon-c i {
  color: black;
}
nav {
  text-align: center;
  margin: auto;
  padding-left: 450px;
}

nav ul li {
  list-style-type: none;
  padding: 16px 0;
}
nav ul li a {
  text-decoration: none;
}

.menu {
  text-align: center;
}
.menu ul li {
  list-style-type: none;
}
.menu ul li a {
  text-decoration: none;
  font-family: RobotoCondensed-Regular;
  font-size: 14px;
  padding: 2px;
  color: rgb(153, 149, 149);
}
.menu ul li a:hover {
  color: rgb(224, 117, 117);
  transition: 0.3s;
}
.menu ul li a:last-child {
  color: rgb(224, 117, 117);
}

.container {
  margin-top: 50px;
  display: flex;
}
.container .form-dk {
  width: 650px;
  margin-left: 180px;
}
.container .form-dk p {
  border-top: 3px solid green;
  font-size: 14px;
  padding: 12px 0;
  padding-left: 20px;
  background-color: gainsboro;
}
.container .h2 {
  margin-top: 20px;
  font-family: RobotoCondensed-Bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(221, 215, 215);
  margin-bottom: 30px;
}
.container .form-dk label {
  font-family: RobotoCondensed-Light;
}
.p {
  margin: 20px 0;
}
.id4 {
  display: flex;
}
.id7 {
  margin-top: 20px;
}
.email {
  width: 50%;
  padding: 0 20px 0 0;
}
.sdt {
  width: 50%;
  padding: 0 0 0 10px;
}
span {
  color: red;
}
.spam {
  font-family: RobotoCondensed-Light;
}
.container .ip {
  width: 100%;
  height: 35px;
  outline: none;
  padding: 0 5px;
  margin-bottom: 20px;
  border: 1px solid rgb(148, 145, 143);
}
.container .form-dk label {
  display: inline-block;
  margin-bottom: 5px;
}
textarea {
  width: 100%;
  outline: none;
  padding: 7px;
}

.hoadon {
  background-color: gainsboro;
  width: 300px;
  height: 650px;
  margin-left: 50px;
}
.hd {
  margin: 20px 20px 0 20px;
  font-size: 20px;
  text-transform: uppercase;
  font-family: RobotoCondensed-Bold;
  padding-bottom: 20px;
  border-bottom: 1px solid white;
}
.text-1 {
  margin: 30px 20px 0 20px;
  display: flex;
  font-family: RobotoCondensed-Bold;
}
.text-1 .tt {
  flex-grow: 1;
  text-align: right;
}
.text-2 {
  margin: 20px 20px 0 20px;
  display: flex;
}
.text-2 .sp {
  font-family: RobotoCondensed-Light;
  font-size: 15px;
}
.text-2 .tt {
  flex-grow: 1;
  text-align: right;
  font-family: RobotoCondensed-Light;
}
.x2 {
  margin: 7px 20px 0 20px;
  font-family: RobotoCondensed-Light;
}
.x1 {
  margin: 7px 20px 0 20px;
  font-family: RobotoCondensed-Light;
  border-bottom: 1px solid white;
  padding-bottom: 20px;
}

.text-3 {
  margin: 25px 20px 0 20px;
  display: flex;
}
.text-3 .sp {
  font-family: RobotoCondensed-Light;
  font-size: 15px;
}
.text-3 .tt {
  flex-grow: 1;
  text-align: right;
  font-family: RobotoCondensed-Light;
}

.text-4 {
  margin: 25px 20px 0 20px;
  display: flex;
}
.text-4 .sp {
  font-family: RobotoCondensed-Light;
  font-size: 15px;
  font-family: RobotoCondensed-Bold;
}
.text-4 .tt {
  flex-grow: 1;
  text-align: right;
  color: red;
  font-family: RobotoCondensed-Light;
}

.text-5 {
  margin: 25px 20px 0 20px;
  display: flex;
  border-bottom: 1px solid white;
  padding-bottom: 30px;
}
.text-5 .sp {
  font-family: RobotoCondensed-Bold;
  font-size: 15px;
}
.text-5 .tt {
  flex-grow: 1;
  text-align: right;
  color: red;
  font-family: RobotoCondensed-Light;
}

.chek {
  margin: 25px 20px 0 20px;
  font-family: RobotoCondensed-Light;
}
.chek .chek1 {
  margin-bottom: 10px;
  font-family: RobotoCondensed-Light;
}
/* .a {
  margin: auto;
  text-align: center;
  margin-top: 30px;
  border: 1px solid black;
  width: 260px;
  line-height: 45px;
  text-transform: uppercase;
  font-family: RobotoCondensed-Bold;
  background-color: black;
  color: white;
  border-radius: 5px;
} */
.a a {
  display: block;
  text-decoration: none;
  color: white;
  background-color: black;
  margin: auto;
  text-align: center;
  text-transform: uppercase;
  font-family: RobotoCondensed-Bold;
  width: 260px;
  line-height: 45px;
  border-radius: 5px;
  margin-top: 30px;
}
.a a:hover {
  background-color: white;
  color: black;
  transition: 0.5s;
}
/* footer */
footer {
  background-color: rgb(193, 186, 202);
}
.footer {
  display: flex;
  margin-top: 50px;
}
.fterlast1,
.fterlast2,
.fterlast3,
.fterlast4 {
  margin-top: 50px;
  width: 25%;
}
.fterlast1 {
  margin-left: 50px;
}
.fterlast2 {
  margin-left: 30px;
}
.fterlast4 {
  margin-right: 50px;
}
.las {
  font-family: RobotoCondensed-Bold;
  margin: 20px 0;
}

.las1 {
  margin-top: 25px;
  font-size: 15px;
  font-family: RobotoCondensed-Regular;
}
.menu1 a {
  text-decoration: none;
  margin-left: 5px;
  color: black;
  font-family: RobotoCondensed-Regular;
  font-size: 15px;
}
.menu1 a:hover {
  text-decoration: underline;
  color: rgb(158, 23, 23);
  transition: 0.3s ease;
}
.menu1 div {
  margin-top: 15px;
}
.loco {
  font-family: RobotoCondensed-Bold;
  margin: 10px 0;
}
.lass {
  font-family: RobotoCondensed-Regular;
  font-size: 15px;
  margin-left: 5px;
}
.bdsg {
  margin-top: 20px;
  background-color: black;
  color: white;
  padding: 5px;
  text-align: center;
}
.messenger {
  position: fixed;
  bottom: 30px;
  right: 20px;
}
.messenger img {
  border-radius: 400px;
  text-align: center;
}
