*{
    list-style: none;
}
.header{
    padding-top: 12px;
    font-size: 20px;
}
.logo{
    background-size: cover;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin: 0 20px;
}

.admin-name{
    
font-style: normal;
font-weight: 500;
line-height: 30px; /* 150% */
letter-spacing: 0.15px;
}


.admin-search{
    font-size: 16px;
    gap: 12px;
    border: 1px solid #c2c3c4;
    border-radius: 20px;
width: 520px;
height: 44px;
padding: 12px 16px;
background-color: #F9FAFB;
}

.admin-search input{
    background: none;
    outline: none;
    border: none;
}

.nofication{
    
}
.side-bar{
    margin: 20px;
    width: 240px;
    border-right: 1px solid #E5E7EB;
}

.side-bar ul{
    padding: 0;
    font-weight: 500;
    font-size: 16px;
}

.side-bar_card {
    display: flex;
    flex-direction: row;
    padding-top: 24px;
    align-items: center;
    justify-content: space-between;
    transition: .25s;
    cursor: pointer;
}

.side-bar_card .card-text{
    display: flex;
    gap: 16px;
}

.side-bar_card .card-img{
    height: 24px;
    width: 24px;
}

.side-bar_card-angle-down{
}

.side-bar_card + ul{
    display: flex;
    padding-top: 0px;
    margin-left: 40px;
    flex-direction: column;
    gap: 12px;
    height: 0;
    justify-content: end;
    box-sizing: border-box;
    overflow: hidden;
    transition: .35s;
    cursor: pointer;
}
.side-bar_card.card-active + ul{
    padding-top: 20px;
    transition: linear .35s;
    border-top: 1px solid #E5E7EB;
}
.angle-down{
    margin: 0 16px;
    transition: .35s;
}
.card-active .angle-down{
    transform: rotate(180deg);
    transition: .35s;
}